table {
    border-collapse: collapse;
    width: 100%;
    background-color: gold;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

th {
    background-color: gold;
    color: black;
}
